[Unit]
Description=Beach Counting Service
After=multi-user.target
StartLimitIntervalSec=10

[Service]
ExecStart=/usr/bin/python3 /home/adminmarjet003/Documents/Beach_Counting/process_video.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target