[Unit]
Description=Beach Counting Service
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/BeachCounting.sh
Restart=always
StartLimitInterval=10
RestartSec=10

[Install]
WantedBy=multi-user.target